@import url('libs/element-ui/index.css');
@import url('libs/font-awesome/index.css');
@import url('libs/reset/index.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html {
    font-family: "Roboto", sans-serif;
}

.hero-section {
    min-height: 100vh;
    background-color: #f5f5f5;
    text-align: center;
    padding: 20px;
}

.search-input {
    width: 60%;
    max-width: 700px;
    margin-bottom: 20px;
}

.category-filter {
    width: 135px;
    margin: 20px 0;
}

.article-cards {
    margin-top: 30px;
}

.article-card {
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
    margin: 10px 0;
}

.article-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.article-description {
    color: #666;
    margin-bottom: 15px;
}

.article-meta {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    color: #999;
}

.article-category {
    font-weight: bold;
}

.article-date {
    font-style: italic;
}

.article-modal-meta {
    margin-top: 10px;
    font-size: 0.875rem;
    color: #666;
    display: flex;
    justify-content: space-between;
}

.dialog-footer {
    text-align: right;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ddd;
}

.footer a {
    color: #333;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.category-blue {
    border-left: 3px solid cornflowerblue;
}
.category-red {
    border-left: 3px solid #ff404a;
}
.category-green {
    border-left: 3px solid #708c3c;
}

.el-form-item__content {
    display: flex;
    align-items: center;
}

.delete-button {
    height: auto;
    align-self: stretch;
    margin-left: 10px;
}

.code-dropdown {
    display: flex;
    height: auto;
    align-self: stretch;
    margin-left: 10px;
}
.utility {
    padding: 0 5px;
}